body{
	width: 100%;
	height: 100%;
	margin: auto;
          background-image: url("airplane2.jpg");   // http://www.freehdphotos.com/images/airplanes/airplane_5.jpg
          background-position: center;
          background-size: 100%;
          background-position-y: -300px;
          background-attachment: fixed;
        font-family: "Verdana"; 
}

.header {
	background: #ffffff;
	width: 100%;
	top:0;
	height: 120px;
	left: 0;
	position: fixed;
	z-index: 99999;
}

.menu {
	background: #4682B4;
	width: 100%;
	top:115px;
	height: 48px;
	left: 0;
	position: fixed;
}
.name {
        padding-top: 10px;
	float: left;
	font-family: "Verdana";
	font-size:20px;
        color: #4682B4;
}
.login {
    padding-top: 35px;
    float:right;
}
.menu li {
	list-style:none;
	float: left;
	margin-right: 40px;
	font-family: "Verdana";
	font-size:20px;
		
        color: white;
	
	
}
.menu li:hover {
	color: white;	
        font-weight:bold;
}
.logo img {
    padding-top: 30px;
    float:left; 
    height:60px;
    padding-right:5px;
}
.container {
	width: 960px;
	margin: auto;
        
}
.login a {
    color:inherit;
    text-decoration: none; 
}
.login a:hover {
   
    text-decoration: underline; 
    color:inherit;
}
.menu a {
     text-decoration: none;
     color:inherit;
}
.content {
    padding-top:200px;
 
}
.name img{
    height:60px;
}
.logintype1 {
    height:200px;
    width:400px;
    background-color: white;
    float:left;
    margin-left: 50px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.logins a{
    color: inherit;
    text-decoration: none;
}
.logins a:hover .logintype1 {
    //background-color: #4682B4;
    opacity: 0.5;
    color:black;
}

.logins a:hover .logintype2 {
     opacity: 0.5;
    color:black;
}
.logintype2 {
    height:200px;
    width:400px;
    background-color: white;
    float:right;
    margin-right: 50px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.currentLink {
    font-weight: bold;
}
